{% if include.mode != 'month' %}
  {% assign d = include.date | date: "%-d" %}
  {% if page.lang == 'коми' %}
    {{ d }}{% if d == "1" %}<sup>er</sup>{% endif %} 
  {% else %}
    {{ d }}<sup>{% case d %}
      {% when '1' or '21' or '31' %}st
      {% when '2' or '22' %}nd
      {% when '3' or '23' %}rd
      {% else %}th
    {% endcase %}</sup> of 
  {% endif %}
{% endif %}

{% if page.lang == 'коми' %}
 {% assign m = include.date | date: "%-m" %}
 {% case m %}	
    {% when '1' %}тӧвшӧр тӧлысь
    {% when '2' %}урасьӧм тӧлысь
    {% when '3' %}рака тӧлысь
    {% when '4' %}косму тӧлысь
    {% when '5' %}ода-кора тӧлысь
    {% when '6' %}лӧддза-номъя тӧлысь
    {% when '7' %}сора тӧлысь
    {% when '8' %}моз тӧлысь
    {% when '9' %}кӧч тӧлысь
    {% when '10' %}йирым тӧлысь
    {% when '11' %}вӧльгым тӧлысь
    {% when '12' %}ӧшым тӧлысь
  {% endcase %} 
{% else %}
  {{ include.date | date: "%B"}}
{% endif %}
{{ include.date | date: "%Y"}}
