---
layout: default 
---

{{ content }}

<ul class="list">
  {% assign posts=site.posts | where:"lang", page.lang | where:"type", posts %}
  {% for post in posts %}
    {% capture currentmonth %}{{post.date | date: "%m/%Y"}}{% endcapture %}
    {% if currentmonth != month %}
      {% unless forloop.first %}
        </ul></li>
      {% endunless %}
      <li><h2>{% include date.html date=post.date mode="month"%}</h2>
      <ul>{% capture month %}{{currentmonth}}{% endcapture %}
    {% endif %}
      <li>
        <a href="{{ post.url }}">
          <div>{{ post.date | date: '%-d' }}</div>
          {{ post.title | replace: '<br/>', ''}}
        </a>
        <p>
        {% if post.author == "Niko Partanen" %}
          <img src="/medias/data/author_niko.jpeg" height="103" width="103" align="right" style="margin: 10px 0px 0px 10px">
        {% endif %}
        {% if post.author == "Michael Rießler" %}
          <img src="/medias/data/author_michael.jpeg" height="103" width="103" align="right" style="margin: 10px 0px 0px 10px">
        {% endif %}
          {{ post.description }}
        </p>
        {% if post.author %}
        <p><i>
          -{{ post.author }}
        </i></p>
        {% endif %}
        <br/>
      </li>
     {% endfor %}
    </ul>
  </li>
</ul>
<h2>Categories</h2>
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %}